.banner {
	width: 100%;
	height: 300px;
	background: blue;
	position: relative;
}

.banner .box {
	position: absolute;
	cursor: pointer;
	left: 0;
	top: calc(50% - 50px);
	width: 100px;
	height: 100px;
	background: yellow;
}

.banner .box.hover {
	left: calc(100% - 100px);
	transition: left 0.35s ease;
}